.hero-section{
    background-color: #F0FFF0;
    min-height: 80vh;
}

.hero-content h5{
	color: #FD511A;
	font-size: 16px;
	line-height: 24px;
}

.hero-content h1{
	font-weight: bold;
	font-size: 48px;
	line-height: 70px;
}

.hero-content h1 span{
	color: #21B573;
}

.hero-content p{
	font-size: 16px;
	line-height: 36px;
	color: #6C6B6B;
}

.btn-custom{
	color: #fff;
	background: #21B573;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 20px;
	border-radius: 50px;
}

.btn-custom:hover{
	color: #fff;
	background: #099b59;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 20px;
	border-radius: 50px;
}

.feature-content{
	background: #F8FFF8;
	padding: 50px 0;
}

.feature-content img{
	width: 20%;
}

.feature-content h2{
	color: #413960;
	font-size: 24px;
	line-height: 36px;
	margin-top: 15px;
}

.feature-content p{
	color: #585859;
	line-height: 24px;
}

.feature-content:hover{
	background-color: #fff;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

/* Course section */
.course{
	background: #FFFFFF;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
	border-radius: 18px;
	padding: 20px;
}

.course h2{
	color: #413960;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	margin-top: 15px;
}

.course h5{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #585859;
}

.btn-course{
	color: #FFFFFF;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	background: #21B573;
	border-radius: 33px;
	padding: 8px 28px;
}

.btn-course:hover{
	background-color: #17975d;
	color: #fff;
}

.course ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.course ul li{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #585859;
}

.course ul li  i{
	margin-right: 8px;
}

.heading{
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	color: #413960;
}	

.client{
	display: flex;
}

.client img{
	width: 50%;
	margin: auto;
	border: 1px solid red;
	overflow: hidden;
	border-radius: 50%;
	margin-left: auto;
}
.testimonial p{
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
}
.img {
    height: 250px;
    
  }